[Unit]
Description=Servicio de saludo y fecha

[Service]
ExecStart=/usr/local/bin/saludo.sh
Restart=always
User=nobody
Group=nogroup

[Install]
WantedBy=multi-user.target